[database]
host = YOUR_HOST
port = YOUR_PORT
database = YOUR_DATABASE
username = YOUR_USERNAME
password = YOUR_PASSWORD

[misc-keys]
openai_key = YOUR_OPENAI_KEY
assistant_id = YOUR_ASSITANT_ID
telegram_key = YOUR_TELEGRAM_BOT_KEY
telegram_name = YOUR_TELEGRAM_BOT_NAME

[messages]
welcome_message = YOUR_WELCOME_MESSAGE